<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5 p-5 border rounded-3">
                {{!-- Form --}}
                <form method="post" action="/password-reset/update/{{info._doc.code}}">
                    <p>{{info._doc.purchaser}}</p>
                    <!-- Email input -->
                    <div class="form-outline mb-3">
                        <p>Ingrese nueva contrase単a.</p>
                        <input type="password" id="password" class="form-control form-control-lg"
                            placeholder="Enter password" name="password" required />
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <div class="form-outline mb-3">
                        <p>Repita la contrase単a.</p>
                        <input type="password" id="repeat-password" class="form-control form-control-lg"
                            placeholder="Enter password" name="repeat-password" required />
                        <label class="form-label" for="repeat-password">Repeat Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <a href="/session/profile">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Enviar</button>
                        </a>

                        <p class="small fw-bold mt-2 pt-1 mb-0">多A recordado su contrase単a? <a href="/session/login"
                                class="link-danger">Volver</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>